$body-color: green;

body {
  color: $body-color;
}

#stage {
	width: 600px;
	height: 400px;
	display: block;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);


}
#gameworld {
	background:url('../img/tile.png');
	width: 6000px;
	height: 4000px;
}
.main-hero{
	width: 60px;
	height: 40px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
}