$body-color: green;

body {
  color: $body-color;
}

#stage {
	background:url('../img/tile.png');
	width: 600px;
	height: 400px;
	position: relative;
	display: inline-block;
	transition:background .05s;

}
.main-hero{
	width: 60px;
	height: 40px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
}